* {
    box-sizing: border-box;
}

.header {
    margin-left: 12%;
    margin-right: 12%;
}

    .header label, i {
        color: #66a182;
    }

    .header .user, .cart {
        float: right;
    }

        .cart a p {
            color: #000;
        }

.backgr-color {
    background-color: #66a182;
}

.content {
    margin-top: 30px;
    margin-left: 12%;
    margin-right: 12%;
}
.content img {
    width:50%;
}
.navbar-header li {
    padding-right: 29px;
}

.navbar-header .navbar .navbar-collapse {
    margin-left: 12%;
    margin-right: 12%;
}

.navbar-header .navbar {
    width: 100%;
    background-color: #252525;
}

    .navbar-header .navbar a {
        color: #fff;
    }

@media (max-width: 780px) {
    .navbar-header button {
        /* color: #fff; */
        background-color: #fff;
        border-radius: 20%;
    }

    /*.header .logo img {
        margin-left: 54px;
    }*/

    .free-transport {
        display: none;
    }

    /*.login {
        display: none;
    }*/

    .category-product {
        display: none;
    }

    .cart {
        display: none;
    }

    .footer .lfooter {
        padding-left: 52px;
    }
}

@media (min-width: 780px)and (max-width: 1020px) {
    .free-transport, .login, .cart {
        display: none;
    }

    .navbar-header button {
        /* color: #fff; */
        background-color: #fff;
        border-radius: 20%;
    }

    .category-product {
        display: none;
    }

    .footer img {
        margin-left: 0;
    }

    .footer .content1 {
        margin-left: 0;
    }
}
